<!DOCTYPE html>
<html>
    {{- partial "head.html" . -}}
    <body>
            <header class="mdc-top-app-bar mdc-top-app-bar--fixed">
                    <div class="mdc-top-app-bar__row">
                      <section class="mdc-top-app-bar__section mdc-top-app-bar__section--align-start">
                        <h1><a href="/" class="navbarlink">Øyvind Malin - Blogg </a></h1></section>
                    
                    </div>
            </header>
        {{- partial "header.html" . -}}
        <div id="content" style="padding-top:50px;">
        {{- block "main" . }}{{- end }}
        </div>
        {{- partial "footer.html" . -}}
    </body>
</html>
